.success{
  background-color:#d9534f;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.waring{
  background-color: #2596be;
  border-radius: 5px;
  padding: 5px;
  color: white;
}


@media (max-width: 420px) {
  .status{
    font-size: 10px;
  }
}
