.input-text{
    width: 50%;
    font-size:15px;
}
.input-group{
	width: 50%;
    
}
.input-group-float{
	display: flex;
    float: left;
    width: 90%;
    margin-left: 10px;
}

.input-group-float .form-control{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	height: 34px;
}

.btn-search{
	margin: 0 !important;
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.btn-search:active {
	position:relative;
	top:1px;
}
